<h1>Bonjour et bienvenue au jeu pierre papier ciseaux</h1>
<form action="/resultat" method="POST">
<button type="submit"  name="rock">Rock</button>
<button type="submit"  name="paper">Paper</button>
<button type="submit"  name="scissors">Scissors</button>
</form>

<a href="/about">About</a>