
<link rel="stylesheet" type="text/css" href="/style.css">

<p> You chose : <%= @choix_joueur  %></p>
<p> Computer chose : <%= @choix_ordinateur  %></p>

<div><%= @resultat %> </div>

<a href="/home">Play again</a>